# SPDX-FileCopyrightText: 2025 Digg - Agency for Digital Government
#
# SPDX-License-Identifier: CC0-1.0

---
name: OpenSSF Scorecard Analysis
on:
  schedule:
    # Saturdays at 02:30 UTC
    - cron: "30 2 * * 6"
    # Wednesdays at 02:30 UTC
    - cron: "30 2 * * 3"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  scorecard-analysis:
    permissions:
      contents: read
      security-events: write
      id-token: write
    uses: diggsweden/reusable-ci/.github/workflows/security-openssf-scorecard.yml@b7d46f42641d7d0f24032c44f8a92da0a39a9a51 # v2.4.0
    with:
      publish-results: true
